* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
}

/* side bar */

.sidebar {
    width: 100%;
    flex: 1;
    height: 100vh;
    background-color: #152259;
    color: #fff;
}

.logo-section {
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.logo-section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.logo-section h2 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 25px;
}

.sidebar-menu {
    width: 100%;
    height: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 10px;
    gap: 10px;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item a {
    width: 300px;
    height: auto;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 30px;
    transition: background-color 0.3s ease;
    padding: 25px;
    border-radius: 10px;
    position: relative; /* For hover effect */
}

.menu-item a:hover {
    background-color: #509cdb;
}

.menu-item a.active {
    background-color: #007bff;
}


/* main contetnt sidebar */

.main-content {
    flex: 6;
    height: 100vh;
    background-color: #ffffff;
    padding: 20px;
}
.main-content p{
    font-size: 25px;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #fcfafa; */
    padding: 15px 30px;
    margin-bottom: 30px;
}



.header-icons {
    display: flex;
    align-items: center;
}

.header .logout {
    background-color: #509cdb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.welcome-section {
    text-align: center;
    margin-top: 40px;
}

.welcome-section h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
}

.welcome-section p {
    font-size: 1.7rem;
    color: #555;
    margin-top: 15px;
}

.features {
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.feature-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.feature-item .icon {
    font-size: 30px;
    color: #407BFF;
    width: 50px;
}

.feature-item h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

.feature-item p {
    font-size: 20px;
    color: #666;
}


/* teacher  section */

.teachers-screen {
    flex: 6;
    height: 100vh;
    background-color: #ffffff;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-top: 50px;
}

.header-left h1 {
    font-size: 24px;
    color: #333;
}

.header-right {
    display: flex;
    align-items: center;
}

.btn {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn.add {
    background-color: #509cdb;
    color: white;
}

.btn:hover {
    background-color: #e0e0e0;
}

.logout {
    float: right;
}

.logout i {
    width: 24px;
    height: 24px;
    margin-right: 20px;
    font-size: 25px;
}

.logout button {
    /* background-color: #407BFF; */
    color: rgb(21, 21, 21);
    border: none;
    padding: 10px 2px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
/* side filter */
.filter {
    margin-top: 20px;
    background-color: #fcfafa;
    padding: 10px;
    width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    align-self: flex-end;
}

.filter input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.no-teachers {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    background-color: #fcfafa;
}

.no-teachers p {
    font-size: 20px;
    color: #999;
    margin-bottom: 10px;
}

.form-container {
    width: 100%;
    max-width: 1000px;
    height: auto; 
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(32, 32, 32, 0.1);
    border-radius: 8px;
}

.add-teachers {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.add-teachers h1 {
    color: #3b3b3b;
    font-size: 2rem;
    margin-top: 20px;
}

.designation-input {
    display: flex;
    flex-direction: column;
    flex: start;
    width: 300px;
}

.designation-input label {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.designation-input input {
    width: 100%;
    padding: 10px;
    border: 0.2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.designation-input input:focus {
    border-color: #007bff;
}

.tabs {
    display: flex;
    gap: 30px;
    color: rgb(163, 160, 160);
    font-size: 14px;
}

.teacher-form {
    margin-top: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group #fullname {
    width: 80%;
    padding: 10px;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
}

.form-group {
    flex: 1;
    min-width: 100px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-teacher {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-teacher:hover {
    background-color: #0056b3;
}

/* table teacher */
.teacher-table {
    /* background-color: #0056b3; */
    margin-top: 20px;
    /* width: 100%; */
    border-collapse: collapse;
    padding: 30px;
}

.teacher-table th, .teacher-table td {
    /* border: 1px solid #ddd; */
    padding: 15px 20px; 

    text-align: left; 
  

}

.teacher-table th {
    width: 28.20%; 
    font-size: 20px;
    background-color: rgb(240, 240, 240, 0.3);
    /* background-color: #0c0d0d; */
    color: black;
    text-align: left;
}

.teacher-table .tr{
    width: 100%;
}

.no-teachers {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #555;
}

/*  */
/* student  */
.student-screen {
    flex: 6;
    height: 100vh;
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    overflow: auto;
}

#studentFormContainer {
     /* position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  */
    max-width: 1000px;
    width: 100%;
    height: auto;
    /* overflow: auto; */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 60px;
    margin-top: 50px;

}
.student-form{
    /* display: flex; */
    margin-top: 40px;
}

 .password{
    margin-top: 35px;
    /* width: 415px; */
 }
 .add-student{
    margin-top: 40px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
 }
 .student-table{
        /* background-color: #0056b3; */
        margin-top: 20px;
        border-collapse: collapse;
        padding: 30px;
 }
 .student-table th, .student-table td {
  
    padding: 15px 20px; 
    text-align: left; 
  

}

.student-table th {
    width: 28.20%; 
    /* background-color: #0c0d0d; */
    color: black;
    text-align: left;
}

.student-table .tr{
    width: 100%;
}



/* responsive */
.menu-toggle {
    height: 50px;
    display: none;
    cursor: pointer;
    font-size: 3.5rem;
    color: #fff;
    margin-right: 10px;

  
}
  
#close-btn {
    display: none;
    /* background-color: #007bff; */
    color: black;
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .sidebar.show {
        display: flex; 
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #152259;
        width: 50%;
        text-align: center;
        z-index: 10; /* Ensure it's above other content */
    }
    .sidebar .menu-item {
        margin: 10px 0;
    }
    .menu-toggle {
        /* float: right; */
        display: flex; 
        margin-top: 12px;
        display: flex;
        justify-content: flex-end; 
    }
    #bar-btn{
        /* background-color: black; */
        color: black;
        width: 50px;
        height: auto;
    }
    #fa-solid{
        color: black;
        width: 50px;
        height: auto;
        padding: 10px;
    }
    .hide{
        display: none;
    }
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .header .logout {
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .teacher-form{
        display: flex;
        flex-direction: column;

    }

    .form-group{
        width: 100%;
        margin-bottom: 10px;
    }
    #fullname{
        width: 1550%;
    }
    input {
        width: 100%;
    }
    .form-row{
        display: flex;
        flex-direction: column;
    }
    .form-row #email input{
        width: 100%;

    }
    .password{
        margin-top: 40px;
        width: 100%;
     } 


}
td button{
    /* width: 100px; */
    background-color: rgb(0, 123, 255, 0.7);
    padding: 10px;
    color: white;
    border: none;
}
