@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #100f57;
    color: white;
}

.container{
    position: relative;
    z-index: 10;
    
}
.container{
    width: min(95%, 1300px);
    margin: 0 auto;
}
header{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    align-items: center;
}
header .log h4{
    font-size: 1.6rem;
}
.desktop-menu ul{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 1.3rem;
}
.desktop-menu ul li a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}
.desktop-menu ul li a:hover{
    color: #bbb;
}
header .login{
    padding: 8px 40px;
    border: none;
    background: #519cda;
    color: white;
    font-size: 1rem;
    border-radius:20px ;
    cursor: pointer;
}
header .login:hover{
    background: #516cda;
}
.humberger{
    display: none;
}
.mobile-menu{
    display: none;
    opacity: 0;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: min(100%, 500px);
    margin: 0 auto;
    align-items: self-start;
}



















@media (max-width:800px){
    .desktop-menu{
        display: none;
    }
    .login{
        display: none;
    }
    .humberger{
        display: block;
        font-size: 1.4rem;
    }
    .mobile-menu{
        position: relative;
        display: block;
        position: absolute;
        height: 100vh;
        background: #516cda;
        color: white;
        padding: 20px;
        right: 0;
        top: 0;
        width: 250px;
        z-index:50;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: hidden;
        opacity: 100;
    }
    .mobile-menu i{
       position: absolute;
       right: 20px;
       top:30px;
       margin-bottom: 20px;
       font-size: 20px;
    }
    .mobile-menu ul{
         display: flex;
         flex-direction: column;
         gap: 15px;
         align-items: self-start;
         list-style: none;
         margin: 10px 0;
        
    }
    .mobile-menu ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 1.4rem;
    }
    .login-mobile{
        display: block;
    }
    .login-mobile{
        padding: 8px 40px;
        border: none;
        background: #519cda;
        color: white;
        font-size: 1rem;
        border-radius:5px ;
        cursor: pointer;
    }
    .login-mobile:hover{
        background: #516cda;
    }
    .mobile-menu{
        display: none;
        
    }
    
}