@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    /* font-family: Arial, Helvetica, sans-serif; */
    background: #fdfbfa;
    font-family: "Poppins", sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    position: relative;

}

.edit_model, .model_repots{
    display: flex;
    flex-direction: column;
    padding:80px 20px;
    /* align-items: self-start; */
    gap: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: min(100%,900px);
    margin: 70px auto;
    background: white;
    height: 800px;
    position: relative;
    
}
.model_repots{
    width: min(100%,600px);
    height: 700px;

}
/* .model_input{
    display: flex;
    flex-direction: column;
    align-items: self-start;
   justify-content:center !important;
   align-items: center;
    width: 100%;
} */
.old_edit_model,.old_reports_model{
    position: absolute;
   width: 100%;
   height:100vh !important;
   background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
   z-index: 50;
}
.old_edit_model, .old_reports_model{
    display: none;
}
/* .old_reports_model{
    display: block;
} */
.fa-x{
    padding: 20px ;
}
.fa-x:hover{
    background: #ccc;
    /* padding: 20px; */
}
.edit_model input, .edit_model select{
    padding: 15px;
    font-size: 1rem;
    border: none;
    border: 1px solid #ccc;
    outline: none;
}
.edit_model select{
    margin-top: 20px;
    margin-right: 3rem;
    padding: 15px 25px;
}
.label{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.label input, #model_email, .edit_model button{
    width: min(100%, 400px);
}
.model_input{
    width: 100%;
    display: flex !important;
    align-items: end;
    gap: 20px;
    flex-wrap: wrap
}
.model_input input{
    border: none !important;
}
#model_name{
    width: min(100%, 600px);
     
}
.left_side_active{
    background: #519cda;
}
.container .right_side{
    grid-column:2 /span6 ;
   height: auto;
   padding: 25px;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.container .left_side{
    background: #152358;
    /* height: 100vh; */
   /* padding: 25px; */
   color: white;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  position: relative;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: 16%;
}
.logo{
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    border-bottom: 1px solid #cccc;
    margin-top: 1.66rem;
    font-size: 13px !important;
}
.logo img{
    width: 80px;
    
}
.actions{
    margin: 2rem 0;
    padding: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.actions li{
    padding:10px;
    /* background: #519cda; */
    display: flex;
    gap: 10px;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}
.Sittings_action, .Teacher_Sittings{
    position: absolute;
    bottom: 7%;
    left: 20px;

}
.Sittings_action p{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.container .right_side header  .top{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.container .right_side header {
      display: flex;
      flex-direction: column;
      gap: 20px;
      /* position: sticky;
      top: 0; */
      /* left: 0; */
      /* right: 0; */
}
.container .right_side header  .top .add_student{
    padding: 15px 33px;
    border: none;
    background: #519cda;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}
.lagput_notivication{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
}
.lagput_notivication i{
    position: relative;
    font-size: 1.6rem;
    cursor: pointer;
}
.lagput_notivication button{
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    background: transparent;
    font-weight: 600;
    color: #aaa;
    cursor: pointer;
}
.color{
    margin-top: -20px;
    margin-left: 10px;
    position: absolute;
    background: #519cda;
    height: 17px;
    width: 17px;
    border-radius: 50%;
}
.searching{
    display: flex;
    align-items: center;
    /* gap: 10px; */
    width: min(100%, 900px);
    margin: 0 auto;
    background: #fcfafa;
   
}
.searching input{
    flex: 1;
    padding: 13px 20px;
    border: none;
    font-size: 1.3rem;
    outline: none;
}
.searching i{
    color: #555;
}
header .bottom_header{
    display: none;
}
.teacherData .container2{
    /* margin-top:2rem; */
    width: min(100%,1100px);
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items:center;
    
} 
.teacherData .container2 h1{
    font-size: 2rem;
    color: #444;
}
.teacherData .container2 span{
    color: #666 !important;
}
.teacherData .container2 .mm ul{
    align-items: self-start !important;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin: 30px 0;
}
.teacherData .container2 .mm ul li{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.teacherData .container2 .mm ul li i{
    color: #519cda;
    font-size: 2rem;
}
.teacherData .container2 .mm ul li .top{
    display: flex;
    gap: 10px;
}
.teacherData .container2 .mm ul li .top h2{
    color: #555;
}
.teacherData .container2 .mm ul li p{
    font-size:1rem;
    color: #777 !important;
}
.maydata{
    display: flex;
    align-items: center;
    align-items: self-start;
    width: 100%;
    gap: 4rem;
    margin: 4rem;
}
.maydata img{
    width:min(100%, 300px) !important;
    border-radius: 10px;
    height: 300px;
}
.maydata ul{
    flex: 1;
    list-style: none !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: self-start;

}
.maydata ul li{
    font-size: 1.2rem;
    /* color: #444; */
}
/* .maydata{
    display: flex;
    gap: 4rem;

    align-items: center;
    width: min(100%, 1200px);

    margin: 3rem auto;
    position: relative;
}
.maydata img{
    width: 500px;
    height: 500px;
    border-radius: 10px;
   
}
.maydata .content{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    list-style: none;
    font-size: 1.88rem;
    color: #bbb;
}
.teacherName, .teacherEmail, .teacherPassword, .teacherClass, .teacherPhone{
    color: #444;
    font-size: 2rem;
} */
.edit-T{
    /* position: absolute; */
    /* right: 36%;
    bottom: 2%; */
    padding: 15px 40px;
    border: none;
    background: #519cda;
    color: white;
    font-size: 1.3rem;
    border-radius: 7px;
    cursor: pointer;
}
.edit-T:hover{
    background: #516cda;
}
.humberger{
    display: none;
}
.mobile{
    display: none;
    transition: .5s;

}
.teacherData, .my_class, .Add_new_student, .repots{
    /* height: auto; */
}
.my_class{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.my_class{
    display: none;
}
.sittings{
    display: none;
}

.top_table, .student_data{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 10px;
    border-radius: 5px;
    background: lightblue;
    margin: 7px 0;
    font-size: 1rem !important;
    font-weight: 500;
    align-items: center;
    cursor: pointer;
}
.student_data{
    background: transparent;
    color: #555;
    font-size: 1.3rem;
}
.table_name{
    display: flex;
    align-items: center;
    gap: 5px;
}
.table_name img{
    width:50px;
    height:50px;
    border-radius: 50%;
}
.student_data:hover{
    background: #dddddd5e;
    border-radius: 10px;
}

.Add_new_student{
   display: flex;
   flex-direction: column;
   /* gap: 1rem; */
   padding: 1rem 0;
   width: 100% !important;
}


.Add_new_student h1{
    font-size: 4rem;
    color: #6666 !important;
}
.Add_new_student span{
    display: flex;
    gap: 30px;
    font-size: 1.3rem;
    font-weight: 500 !important;
    cursor: pointer;
    margin: 1rem 0;
}
.Add_new_student form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
    font-size: 1rem;
}
.Add_new_student form .top{
    display: flex;
    gap: 4rem;
    align-items: center;
    flex-wrap: wrap;
}
.Add_new_student form .top div{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.Add_new_student form .top select{
    width: 200px;
    padding: 12px 10px;
    margin-top: 2rem;
    font-size: 1.2rem;
    border: none;
    border: 1px solid grey;
    outline: none;
    background: transparent;
    border-radius: 5px;
}
.Add_new_student form input{
    padding: 12px;
    background: transparent;
    font-size: 1rem;
    width: 400px;
    border: none;
    border: 1px solid grey;
    outline: none;
    color: #222;
    border-radius: 5px;
}
.Add_new_student{
    display: none;
}
   .middel{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
   }
   .lebels{
    display: flex;
    flex-direction: column;
    gap: 10px;
   }
   .add_student_btn{
    display: block;
    padding: 13px ;
    width: min(100%, 400px);
    border: none;
    background: #519cda;
    color: white;
    font-size: 1.3rem;
    border-radius: 5px;
    cursor: pointer;
   }
   .add_student_btn:hover{
    background: #516cda;
   }
   .Email, .phone, .name{
    /* width: min(100%, 400px) !important; */
      
   }
.repots{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;
}
.top_repots{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.top_repots h1{
    font-size: 2rem;
    color: #555 !important;
}
.action_repost{
    display: flex;
    /* gap: 5px; */
    font-size: 1.2rem;
    align-items: center;
   
}
.action_repost button{
    font-size: 1.4rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
   
    
}
.action_repost button:hover{
    background: #ddd;
}
.font{
    font-size: 1rem !important;
}
.botom_repots{
    display: flex;
    flex-direction: column;
    padding:0 10px ;
    background-color: transparent;
}
.actt{
    background-color:#ddd !important;
}

.Send_Repots_section{
    display: none;
}
.Send_Repots_section p{
    margin: 10px 0;
    color: #aaa;
    font-size: 1rem;
}
.Send_Repots_section form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: self-start;
}
.Send_Repots_section form textarea{
    width: min(100%, 600px ) !important;
    height: 300px !important;
    padding: 20px;
    font-size: 1.3rem;
    outline: none;
    border: none;
    border: 1px solid #bbb;
    background: transparent;
}
.Send_Repots_section form button{
    padding:10px;
    width: min(100%, 600px ) !important;
    font-size: 1.3rem;
    border: none;
    background: #519cda;
    color: white;
    border-radius:5px ;
    cursor: pointer;
}

.Send_Repots_section form button:hover{
    background: #516cda !important;
}
.repost_container{
    display: flex;
    flex-direction: column;
    /* gap: 20p; */
    /* background:transparent; */
}
.colom{
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
    padding: 5px;
    border-radius: 30px;
    background: #eee;
}
.colom img{
    border-radius: 50%;
}
.colom p{
    color: #555;
    font-weight: 500;
    font-size: 18px;
    /* font-family:po; */
}
   .repots{
    display: none;
   }
   .logo{
    text-align: center;
    padding:0 20px ;
    font-size: 1rem;
   }
.tech_p p{
  
    text-decoration: line-through ;
    color: #ddd ;
    display: inline-block;
    margin-left: -10px;
   }
   .teacherPassword{
    display: flex;
    align-items: center;
    gap: 20px;
   }
.pas{
    /* cursor:not-allowed; */
    text-decoration: none !important;
    color: black !important;
}
.edit{
    background-color: rgb(0, 123, 255, 0.7) !important;
}
.edit,.delete{
    padding: 6px 10px;
    border: none;
    color: white;
    background-color: #ca0b01;
    border-radius:4px ;
}
@media (max-width:1430px){
    .edit-T{
        right: 0%;
    }
}
@media (max-width:1230px){
    .maydata .content{
        font-size: 1.33rem;
    }
    .teacherName, .teacherEmail, .teacherPassword, .teacherClass, .teacherPhone{
        font-size: 1.44rem;
    }
    .maydata img{
        width: 400px;
        height: 400px;
        border-radius: 6px;
        /* margin: 4rem 0; */
       
    }
    .Add_new_student form .top{
        gap: 10px;
    }
   
}
@media (max-width:930px){
    .maydata{
        display: flex;
        flex-direction: column;
        /* gap: ; */
        padding-bottom:5rem ;
    }
    .edit-T{
        right: 0%;
        left: 0;
    }
}
@media (max-width:900px){
  .left_side{
    position: relative;
    display: none !important;
    /* padding: 2rem; */
  }
.container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.humberger{
    display: block;
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 30px;
    cursor: pointer;
}

.mobile{
    display: none;
    position: fixed;
    left: 0;
    top:0 ;
    bottom: 0;
    background:#152358;
    color: white;
    z-index: 1;
    width: 40%;
    transition: .5s;
}
.mobile-activeness{
    display: block;
    transition: .5s;

}
.top_table, .student_data{
    font-size: 10px !important;
    padding: 20 0;
     gap: 5px;
}
.student_data img{
    width: 30px;
    height: 30px;
}

.container {
    padding:  10px;
}
.container .right_side{
    padding:27px 0;
}
.Email, .phone, .name, .Password{
    width: min(100%, 400px) !important;
      
   }
   .Add_new_student{
   padding: 5px;
}
.Add_new_student h1{
    font-size: 2rem;
}
.Add_new_student span{
    font-size: 1.3rem;
    gap: 10px;
}

}

